{% extends "registration\base_auth.html" %}
{% load static %}
{% block title %}Registration-Login {% endblock title %}

{% block content %}
<div class="title">Login</div>
<div class="content">
  <!-- Registration form -->
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    {% endfor %}
    <button type="submit">Login</button>
</form>
  <p>Don't have an account?<a href="{% url 'core_app:signup' %}">Register</a></p>

</div>
{% endblock content %}


   
