{% extends "registration\base_auth.html" %}

{% block title %}Registration {% endblock %}

{% block content %}
<div class="title">Are you a patient or a specialist?</div>
<div class="content">
  <div class="button" id="signup_btn">
    <!-- <input type="submit" value="Login"> -->
    <a type="submit" href="{% url 'core_app:patient_signup' %}"><button>I am a Patient</button></a>
  </div>

  <div class="button" id="signup_btn">
    <!-- <input type="submit" value="Login"> -->
    <a type="submit" href="{% url 'core_app:specialist_signup' %}"><button>I am a Specialist</button></a>
  </div>
</div>

{% endblock %}

